@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Ubuntu:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255 255;
  --primary: 0 32 35;
  --secondary: 68 75 85;
  --accent: 1 158 169;
  --gradient-start: 215 252 255;
  --gradient-end: 41 188 212;
}

.dark {
  --background: 30 30 46;
  --primary: 242 242 242;
  --secondary: 212 212 212;
  --accent: 0 163 158;
  --gradient-start: 0 163 158;
  --gradient-end: 46 58 98;
}

body {
  box-sizing: border-box;
  text-wrap: wrap;

  font-family: 'Source Sans 3', sans-serif;
  color: rgb(var(--primary));

  background-color: rgb(var(--background));
}
