@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Ubuntu:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: 255 255 255;
  --text-primary: 0 32 35;
  --text-secondary: 68 75 85;
  --accent: 1 158 169;
  --gradient-start: 215 252 255;
  --gradient-end: 41 188 212;
}

.dark {
  --bg-color: 25 25 25;
  --text-primary: 224 224 224;
  --text-secondary: 176 176 176;
  --accent: 3 169 244;
  --gradient-start: 1 155 166;
  --gradient-end: 0 79 91;
}

body {
  box-sizing: border-box;
  text-wrap: wrap;
  font-family: 'Source Sans 3', sans-serif;
  background-color: rgb(var(--bg-color));
  color: rgb(var(--text-primary));
}
